In [1]:
import yfinance as yf

data = yf.Ticker("BTC-USD")

In [2]:
# Check missing date
import pandas as pd
history = data.history(period="1y")
missing_dates = pd.date_range(start=history.index.min(), end=history.index.max()).difference(history.index)
print(missing_dates)

DatetimeIndex(['2024-11-26 00:00:00+00:00'], dtype='datetime64[ns, UTC]', freq='D')

In [3]:
# Change date format to yyyy-mm-dd
history.index = history.index.strftime('%Y-%m-%d')
history.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-27,37454.191406,37559.355469,36750.128906,37254.167969,19002925720,0.0,0.0
2023-11-28,37247.992188,38368.480469,36891.089844,37831.085938,21696137014,0.0,0.0
2023-11-29,37826.105469,38366.113281,37612.632812,37858.492188,20728546658,0.0,0.0
2023-11-30,37861.117188,38141.753906,37531.140625,37712.746094,18115982627,0.0,0.0
2023-12-01,37718.007812,38954.109375,37629.359375,38688.750000,23512784002,0.0,0.0

In [4]:
history.to_csv('BTC-USD.csv')